*{    /* Le sélecteur universel * sélectionne tous les éléments HTML de la page */
    margin:0; /* La propriété margin définit la taille des marges sur les quatre côtés de l'élément */
    padding:0; /* la propriété padding définit l'espace entre le contenu de l'élément et sa bordure */
    font-family: 'Popppins', sans-serif; /* La propriété font-family permet de définir la police de caractères utilisée pour le texte d'un élément */
    box-sizing: border-box;    /* La propriété box-sizing permet de définir comment la taille totale d'un élément est calculée et border-box inclut le padding et la bordure dans la largeur et la hauteur totales de l'élément */
}
.container{
    width: 100%; /* La propriété width définit la largeur d'un élément et 100% signifie qu'il occupe toute la largeur de son élément parent */
    min-height: 100vh; /* La propriété min-height définit la hauteur minimale d'un élément et 100vh signifie 100% de la hauteur de la fenêtre d'affichage */
    background: linear-gradient(135deg, #153677, #4e085f); /* La propriété background permet de définir l'arrière-plan d'un élément et linear-gradient crée un dégradé linéaire entre deux couleurs */
    padding: 10px; /* La propriété padding définit l'espace entre le contenu de l'élément et sa bordure */
}
.todo-app{
    width: 100%; /* La propriété width définit la largeur d'un élément et 100% signifie qu'il occupe toute la largeur de son élément parent */
    max-width: 540px; /* La propriété max-width définit la largeur maximale d'un élément */
    background: #fff; /* La propriété background permet de définir l'arrière-plan d'un élément */
    margin: 100px auto 20px; /* La propriété margin définit la taille des marges sur les quatre côtés de l'élément et auto centre l'élément horizontalement */
    padding: 40px 30px 70px; /* La propriété padding définit l'espace entre le contenu de l'élément et sa bordure */
    border-radius: 10px; /* La propriété border-radius permet de définir les coins arrondis d'un élément */

}
.todo-app h2{
    color: #002765; /* La propriété color permet de définir la couleur du texte d'un élément */
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px; 
}

.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
     border: none;
     outline: 16px 50px;
     padding: 16px 50px;
     background: #ff5945;
     color: #fff;
     font-size: 16px;
     cursor: pointer;
     border-radius: 40px;
     
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor:pointer; 
    position: relative; 
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;  
}
ul li.checked::before {
    background-image: url(/images/checked.png);

}